/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}