
.container,.container1 html{
	height:100vh;
}
/* Deklarationer för sidahuvud */
header{
	grid-area: header;
	background-image: url("../bilder/accentbild_te.jpg");
}
/* Deklarationer för body */
body{
	margin: 0;   /* Ta bort inbyggd marginal på body */
	background-color: #B8860B;   /* Mörkguld */
}
/* Deklarationer för huvuddel */
main{
	grid-area: main;
	background-color: Beige;   /* Gulbrun */
	padding:5px;   /* Avstånd till kantlinje */
}
/* Deklarationer för navigation */
nav{
	grid-area: nav;
	background-color: Darkgoldenrod;   /* Mörkguld */
	text-align: center;   /* Centrera texten */
	overflow: hidden;
}
/* A-avkomlingar till element med typ nav */
nav a {
                color: #dff8e5;   /* Djusgrön */
	font-size: 20px;   /* Större text på länken */
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";    /* Font stackar */
	font-weight: bold;   /* Fatstil av texter */
	padding: 1em 1.25em;
}
/* Regler för länkar */
a:link 
{
	text-decoration: none;
}
/* Regler för besökte länkar */
a:visited{
	color: #dff8e5;
}
/* Regler för a-element som muspekaren svävar över */
nav a:hover{
	background:#004C37;   /* Mörkgrön */
}
/* Regler för a-element som just i ögonblicket aktiveras */
a:active {
                color: blue;
}
/* Deklarationer för section */
section{
	background-color: #BDEBE2;
	grid-area: section;
}
/* Deklarationer för sidebar */
aside{
	grid-area: sidebar;
	background-color: #808080;
	padding: 20px 16px;   /* Avstånd till nedåt och sidabar */
	display: grid;
	margin:0;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: 
		"nav" 
                                "nav"
                                "nav"
                                "nav"
}
/* A-barn till element med typ aside */
aside > a {
                grid-area: nav;
                color: #dff8e5;
}
/* Ul-barn till element med typ aside */
aside > ul {
                font-size: 20px;   /* Startvärde */
                padding: 1em 1.25em;   /* Relativa värde, 1em=100% av startvärde */
                list-style: none;   /* Ingen mäkering visas */
}
/* Deklarationer för footer */
footer{
	grid-area: footer;
	background-color:#B8860B;
}
/* Deklarationer för rubrik i nivå1 */
h1{
	text-align: left;   /* texten sitter jämnt vanståt */
	padding:20px;
	font-size: 38pt;
	font-family: prodelt,Arial,'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica,  'sans-serif';
	color:#AACFB4;
	text-shadow: 3px 3px #113300;
}
/* Deklarationer för rubrik i nivå2 */
h2{
	font-family: Arial,'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica,  'sans-serif';
	font-size: 3ex;	
	text-align: center;
}
/* Deklarationer för element som har class "text" under type p */
p.text{
	padding:5px;	
	text-align: center;
}
/* Deklarationer för textruta */
textarea{
                border: 2px solid transparent;
                border-radius: 10px;   /* lägga till rundade hörn för textruta */
 	font-family: 'Heebo',  sans-serif;
	font-size: 16px;
                line-height: 1.2em;
                width: 400px;
	height: 150px; 
	margin: 10px;             
}
/* Deklartion för skapares bild och text */
figure{
	text-align: center;
}
/* Deklartion för alla bilder */
img{
	width:100%;
	height:auto;
}
/* Deklartion för visa bilder */
.scomp{
                border-radius: 25px;
	width: 500px;   /* Ser till att bilderna har denna bredd */
	height:350px;   /* Ser till att bilderna har denna höjd */
                object-fit: fill;   /* Anpassning till bilds stolek */
}
/* Specifik layout för bilderna av revolutioner */
.scomp1{
	width: 600px;
	height:395px;
                object-fit: fill;
}

/* Specifik layout för uppfinningar */
.scomp2{
                border-radius: 25px 55px;
	width: 400px;
	height:300px;
                object-fit: fill;
}
/* Element i attribut klass ska vara 400px bredd */
.lista{
                width:400px;
                margin:0 auto;
                text-align:left;
}
/* Snygga till videol spelare */
iframe{
                margin-top: 25px;
	width:640px; 
	height:400px;
}
/* Deklaration för bildtext i en formulär */
legend {
                background-color: #000;   /* Svart */
                color: #fff;   /* Vit */
                padding: 3px 6px;
}
/* Regler för input-element som just i det ögönblicket aktiveras */
input:focus {
                background-color: yellow;
                margin: .4rem;
}
/* Deklaration för spela och stopp knappar */
.controls {
                visibility: hidden;   /* Element är osynlig */
                opacity: 0.5;
                width: 400px;
                border-radius: 10px; 
                bottom: 20px;
                left: 50%;
                background-color: black;
                box-shadow: 3px 3px 5px black;  /* En oskärpa effekt på skuggan */
                transition: 1s all;   /* Dealy 1s */
                display: flex;   /* Flexbehållare på blocknivå */
}
/* Deklaration för spelare */
.player:hover .controls, player:focus .controls {
  opacity: 1;
}
/* Nedladdningsbara typsnitt*/
@font-face {
   font-family: "HeydingsControlsRegular";
   src: url("../font/Heydings Controls.eot");   /* Länken till typsnitt */
   src: url("../font/Heydings Controls.eot?#iefix") format("embedded-opentype"),
        url("../font/Heydings Controls.woff") format("woff"),
        url("../font/Heydings Controls.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

button:before {
  font-family: HeydingsControlsRegular;
  font-size: 20px;
  position: relative;
  content: attr(data-icon);
  color: #aaa;
  text-shadow: 1px 1px 0px black;
}
/* Deklaration för tidräknare */
.timer {
                line-height: 38px;   /* Rads höjd */
                text-shadow: 1px 1px 0px black; 
                color: white;
                flex: 5;
                position: relative;   /* Position absolute rot */                                                                                
}
.timer span {
                position: absolute;  /*  */     
                left: 19px;
}
/* Deklaration för element i klass attribut "länkar" */
.länkar{
	display: flex;
	list-style: none;
}
/* Deklaration för element i klass attribut "lokal" */
.lokal{
	background-color: rgb(48, 157, 136);   /* Blandning av tre färger */
}
/* Deklaration för element i klass attribut "gif" */
.gif{
	text-align:center;
}
/* Description list */
dt{
	font-weight: bold;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-left: 10px;
}
dd{
	margin-bottom:2rem;
}
dl dt dd{
	grid-area: main;
	grid-column-start: 2;
}
/* Deklaration för element i klass attribut "panda" */
.panda{
	height: 250px;
	width: 250px;
	border:solid  hsl(163,100%,15%);
}
/* Deklaration för tabel */
table{
	height:300px;
	width: 1000px;
	margin-left: auto;   /* Avstånd till vanster */
	margin-right: auto;   /* Avstånd till höger */
}
/* En gruppselektor */
table,th,td{
	border: solid 2px;
}
/* Stolek för skcika button */
.skicka{
	height:20px;
	width:20px;
	vertical-align:sub;
}
/* Första */
th:first-child{
	background-color: #315c54;
}
/* Udda */
tr:nth-child(odd){
	background-color: rgb(48, 157, 136);	
}
/* Jämna */
tr:nth-child(even){
	background-color: rgb(109, 154, 110);
}
/* CSS för mellanbreda fönster */
@media (min-width: 480px) {
    #background { height: 200px; }
}
/* CSS för mellanbreda fönster */
@media (min-width: 768px) {
    #background { height: 150px; }
}
/* CSS för bredda fönster */
@media (min-width: 992px) {
    #background { height: 100px; }
}
/** Grid layout med 3 kolumner och 4 råder.  **/
@media only screen and (min-width:768px){
.container{
	display: grid;
	margin: 0;
	grid-template-columns: 10% 50% 40%;
	grid-template-rows:20% 6% auto 10%;
	grid-template-areas: 
		"header header header "
		"nav nav nav"
		"sidebar main main"
		"footer footer footer"
	}
}
/** Grid layout med en extra section i sida  **/
@media only screen and (min-width:768px){
.container1{
	display: grid;
	margin: 0;
	grid-template-columns: 10% 50% 40%;
	grid-template-rows:20% 6% auto 10%;
	grid-template-areas: 
		"header header header"
		"nav nav nav"
		"sidebar main section"
		"footer footer footer"
	}
}